@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
*{
	box-sizing:border-box;
}
body{

}
.events-heading{
	color:red;
	font-family: 'Quicksand', sans-serif;
}