@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
*{
	box-sizing:border-box;
}
body{
	color: whitesmoke;
	margin: 0px;
}
header{
	margin: 0px;
	background-color: gray;
	background-image: url("../css/resources/internet_explorer.png");
	background-position: 5px 5px 5px;
	background-repeat: no-repeat;
	height: 50px;
}
.search-bar{
	padding-top: 15px;
	margin-left: 200px;
}
.events-heading{
	color:red;
	font-family: 'Quicksand', sans-serif;
}
.user-name{
	border: none;
	outline: none;
	background: gray;
	float: right;
	color: whitesmoke;
	font-size: 14px;
	margin-right: 2%;
}
input[type="search"]{
	border: none;
	background: gray;
	outline: none;
	border-bottom: 1px solid lightgray;
	float: left;
	margin-top: 10px;
	width: 25%;
	color: whitesmoke;
	font-size: 14px;
}
.home{
	background-image: url("../css/resources/home.png");
	background-position: 100px 100px;
}
.menu-icon{
	background: white;	
  	border: 1px solid white;
  	border-radius: 35px;
  	margin: 15px;
}
.main-side-nav{
	background-color: red;
	float: left;
	width: 7%;
}
.nav-image{
	width: 50px;
	height: 50px;
}
#content{
	width: 92%;
	float: left;
	background-color: white;
}
.content-header{
	padding-top: 2%;
}
.events-heading{
	margin: 0px;
	width: 30%;
	float: left;
	padding-left: 20px;
}
.nav-menu{
	padding-left: 10px;
}
.right-tile-nav-ul{
	margin: 0px;
	text-align: right;
	padding-right: 20px;
}
.right-tile-nav-ul li{
	display: inline-block;
}
.right-tile-nav-ul li img{
	width: 35px;
	height: 35px;
}
.right-tile-nav{
	float: right;
	width: 69%;
}
.tiles-content{
	float: left;
}
.item {
  width: 220px;
  margin: 10px;
  float: left;
}
.color-red{
	background-color: red;
}
.color-blue{
	background-color: blue;
}
.color-green{
	background-color: green;
}